header {
  margin-top: 4rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  .container {
    @include flex(row, center, space-between);
  }
  nav {
    display: flex;
    ul {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 4.5rem;
        }
        a {
          display: flex;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 150%;
          color: $nav-no-select;
        }
      }
    }
  }
  .btn-mobile {
    display: none;
  }
  @include responsive(480px) {
    ul {
      li {
        display: none;
      }
    }
    .btn-mobile {
      display: block;
    }
  }
}
