.s-hero {
  padding-top: 9.6rem;
  .container {
    width: 100%;
    max-width: 65.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-hero {
      h1 {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 130%;
        color: $title;
        margin-bottom: 0.8rem;
      }
    }
    .text-change {
      margin-bottom: 0.8rem;
      h3 {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 133%;
        color: $sub-title-home;
      }
      span {
        list-style: none;
        color: $sub-title-resume;
        font-size: 2.4rem;
        font-weight: 500;
      }
      .typed-cursor {
        animation: typedjsBlink 0.9s infinite;
        -webkit-animation: typedjsBlink 0.9s infinite;
      }
    }
    span {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      color: $sub-title-home;
      margin-bottom: 4.1rem;
      a {
        color: $sub-title-resume;
      }
    }
    .btn-hero {
      a {
        @include style-btn(4.8rem, transparent, $sub-title-resume);
      }
    }
  }
}

.s-brands {
  padding-top: 13.2rem;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .brand-neo {
      margin-bottom: 3.2rem;
    }
    .brand-bb {
      margin-bottom: 3.2rem;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  p,
  a {
    padding-top: 13.5rem;
    padding-bottom: 4.8rem;
    font-size: 2rem;
    line-height: 130%;
    color: $sub-title-home;
    transition: all 0.3s;
    &:hover {
      color: #a8abb5;
    }
  }
}
