header {
    margin-top: 0;
    width: 100%;
    height: 32.5rem;
    .banner {
        
    }
    .header-project {
        display: flex;  
        align-items: center;
        justify-content: center;
    }
}