header {
    margin-top: 0;
    width: 100%;
    max-width: 4600px;
    height: 325px;
    overflow: hidden;
    .banner {
        margin-right: auto;
        margin-left: auto;
        background-color: transparent;
    }
}