.s-resume {
  padding-top: 17.6rem;
  .container {
    width: 100%;
    max-width: 86.5rem;
    padding: 0;
    .title-resume {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8.7rem;
      .name-resume {
        font-weight: 800;
        font-size: 2.4rem;
        line-height: 130%;
        color: $title-resume-projects;
      }
      .contact-resume {
        display: flex;
        align-items: center;
        gap: 2.3rem;
        ul {
          li {
            a {
              display: flex;
              align-items: center;
              gap: 0.8rem;
              span {
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 130%;
                color: $title;
              }
            }
          }
        }
      }
    }
    .info-resume {
      .details {
        display: flex;
        gap: 8.9rem;
        .area-left {
          max-width: 22.4rem;
          .education {
            margin-right: -0.1rem;
          }
        }
        .area-right {
          max-width: 55.2rem;
          .work-experience {
            .sub-title-info {
              h4 {
                margin-bottom: 1.4rem;
              }
              p {
                margin-bottom: 5.6rem;
                margin-top: 1.6rem;
              }
            }
          }
          .skillset {
            .tools {
              margin-bottom: 37px;
            }
            .sub-title-info {
              p {
                margin: 0;
                padding: 0;
              }
              .skillset-details {
                display: flex;
                align-items: center;
                margin: 0 0rem 0.3rem 0;
                gap: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
