$nav-select: #495057;
$nav-no-select: #D1D1D1;
$nav-white: #FFFFFF;

$title: #383838;
$title-resume-projects: #3F4041;
$sub-title-home: #C1C3C8;
$sub-title-resume: #5D5FEF;
$text-about: #7B7B7B;
$span-resume-color: #9B9B9B;

$brand-neo-market: #EDFAE5;
$brand-bb: #E4E8FF;
$brand-pedal: #2A2A37;
$brand-senai: #F4F5F7;

$tag-neo: #9ACD9D;
$text-project: #A6A6A6;

